<%= link_to 'Back', skills_path %>
<h1><%= @skill.name %></h1>
<h3><%= pluralize(@skill.projects.count, 'Project') %></h3>
<ul>
  <% @skill.projects.each do |p| %>
    <li><%= link_to p.title, project_path(p) %></li>
  <% end %>
</ul>
<%= link_to "edit", edit_skill_path(@skill) %>
<%= button_to "Delete Skill", skill_path(@skill), method: :delete %>