<%= link_to 'Back', sections_path %>
<h1>New Section</h1>

<%= form_for(@section) do |p| %>
  <div class="field">
    <%= p.label :name, 'Section Name:' %><br>
    <%= p.text_field :name %>
  </div>

  <div class="field">
    <%= p.label :skill_id, 'Section Skills:' %><br>
    <%= p.collection_radio_buttons :skill_id, @skills, :id, :name %>
  </div>

  <div class="actions">
    <%= p.submit %>
  </div>
<% end %>