<%= link_to 'Back', projects_path %>
<h1>New Project</h1>

<%= form_for(@project) do |p| %>
  <div class="field">
    <%= p.label :title, 'Project Title:' %><br>
    <%= p.text_field :title %>
  </div>

 <div class="field">
    <%= p.label :description, 'Project Description:' %><br>
    <%= p.text_area :description %>
  </div>

  <div class="field">
    <%= p.label :skill_id, 'Project Skill:' %><br>
    <%= p.collection_check_boxes :skill_ids, @skills, :id, :name %>
  </div>

  <div class="actions">
    <%= p.submit %>
  </div>
<% end %>