<%= link_to 'Back', projects_path %>

<h1><%= @project.title %></h1>
<p><%= @project.description %></p>

<%= link_to "edit", edit_project_path(@project) %>
<%= button_to "Delete Project", project_path(@project), method: :delete %>

<% if defined?(@project.skills) %>
  <% @project.skills.each do |t| %>
    <h3>Skill: <%= link_to t.name, skill_path(t.id) if t.id %></h3>
  <% end %>
<% else %>
  <h3>No Skills</h3>
<% end %>